

 .background{
  background: radial-gradient( rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%); 
  height: 58rem;
} 

.WeatherBoards{
  display: flex;
   margin-top: 0px;
   overflow: hidden;
  justify-content: space-between;
  margin-left: 100px;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
}



.WeatherLeft-board {
    width: 55rem;
    border-radius: 10px;
    height: 40rem;
    margin-top: 90px;
    border: 1px solid #28a2a2;
  background-color: rgb(104, 228, 159);
  
}

.data-right > button{
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  background-color: rgb(66, 141, 76);
  border: none;
}

.vertical {
  border-left: 2px solid black;
  left: 63%;
  height: 300px;
}

.card-header{
  box-shadow: inset;
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 45%;
  background-color: rgb(41, 211, 211);
}

.WeatherRight-board {
  background-color: rgb(97, 187, 247);
  padding: 2rem;
  height: 40rem;
  margin-top: 90px;
  margin-right: 90px;
  justify-content: center;

  width: 30rem;
}


.WeatherCard-icon-container{
    font-size: 4.5rem;
    margin: 2rem 0 0;
}

.WeatherCard-icon {
    font-size: 6rem;
    margin: 0;
}

.sun{
  width: 80px;
  height: 80px;
}
/* .WeatherLeft-board,
.WeatherRight-board {
  border: 1px solid #28a2a2;
  box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  animation: horizontalFlipIn 1s;
  border-radius: 3px;
  background-color: white;
  align-items: center;
  justify-content: center;
} */

/* .WeatherCard-icon-container {
  font-size: 4.5rem;
  margin: 2rem 0 0;
} */

/* .WeatherCard-icon {
  margin: 0 0 2rem;
} */

.WeatherCard-degrees {
  font-size: 6rem;
  margin: 0;
}

.end {
  display: flex;
  margin-right: 10px;
  
  justify-content: center;
  align-items: center;
}

.end > button {
  padding: 10px 5px 10px 5px;
  background-color: rgb(66, 141, 76);
  border: none;
  border-radius: 5px;
}

.bottom-data{
  display: flex;
  justify-content: space-between;
}
/* .WeatherBoards .ui.positive.button {
  background-color: #28a2a2;
} */
.bottom-part{
  display: inline-block;
  color: white;
  margin-left: 20%;
  margin-top: 8%;
  font-size: large;
  font-weight: 1000;
  font-family:'Times New Roman', Times, serif;
  justify-content: center;
  align-self: center;
}

.bottom-part > p{
  margin-top: 20px;
}
.data{
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}

.bar{
  width: 80%;
  background-color: #2196F3;
}

.weather-detail-top {
   display: flex; 
  border-bottom: 1px dotted grey;
  justify-content: space-between;
  color: white;

  /* justify-content: space-between; */

}

.start{
  float: left;
}

.center{
  float: left;
}

.end{
  float: left;
}


.data-item{
  display: flex;
  font-size: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  margin-top: 10px;
 word-wrap: break-word;
}

.data-right{
  margin-right: 30px;
}

.data-right > p {
  margin-top: 20px;
}

img {
  height: 130px;
  width: 150px;
}
.range{
  font-size: 6px;
}

.name{
  font-size: 14px;
}

.number{
  font-size: 18px;
}